.App {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  min-width: 100%;
  min-height: 100%;

  background-color: rgba(106, 90, 205, 0.1);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 62.5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .App {
    padding: 0;
    margin: 0;
  }
}

.created-by {
  margin: 30px 0;
  font-size: 12.5px;
}
